/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 8rem;
}

/*===== Colors =====*/
:root {
  --first-color: rgba(47, 167, 0, 1);
  --dark-color: #333333;
  --dark-color-alt: #282b3a;
  --white-color: #e6e7e9;
}

/*===== Typography =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 300;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

button {
  margin-top: 10px;
  padding: 8px 50px;
  background-color: var(--first-color);
  color: var(--white-color);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 260px;
}

button:hover {
  color: black;
}

h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: var(--small-font-size);
}

.green {
  color: var(--first-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100px;
}

.header__toggle {
  font-size: 2.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__stuff {
  color: white;
}

.nav__stuff span a {
  color: white;
  font-size: 10px;
  font-weight: 200;
}

.nav__stuff span a:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nav__img img {
  width: 100px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--first-color);
}

/*Appear menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== SHOWCASE =====*/
#showcase {
  min-height: 500px;
  background: url(/assets/img/showcase-wide-image.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
}

#showcase h1 {
  margin-top: 220px;
}

#showcase > * {
  position: relative;
  z-index: 2;
}

#showcase:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#showcase button {
  margin-top: 10px;
  padding: 8px 50px;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

#showcase button:hover {
  background: var(--first-color);
}

/*===== MAIN =====*/
#main {
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: lightgrey;
}

#main button {
  width: 250px;
}

/*===== CARDS =====*/
.cards__card {
  padding: 10px;
  text-align: center;
  margin: auto;
}

.cards__card sub {
  color: rgba(47, 167, 0, 0.808);
  font-style: italic;
}

.cards__card button {
  width: 100%;
}

/*===== MIDDLE =====*/
#middle {
  min-height: 400px;
  background: url(/assets/img/middle-wide-image.jpg) no-repeat;
  background-size: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
}

#middle img {
  width: 70px;
  padding: 20px 20px 0 0;
}

#middle button {
  margin-top: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  width: 100%;
  margin: auto;
}

#middle button:hover {
  background: var(--first-color);
}

/*===== CONTACT =====*/
#contact {
  min-height: 400px;
  text-align: center;
  background-color: lightgrey;
  padding: 20px 0;
}

#contact .contact__input,
#contact .contact__procedure,
#contact .contact__msg {
  margin: 10px 0;
  border: 0px;
  padding: 10px;
  width: 100%;
}

#contact .contact__msg {
  height: 200px;
}

#contact button {
  width: 100%;
}

/*===== FOOTER =====*/
footer {
  background-color: #333;
  color: white;
  padding: 30px 10px;
  text-align: center;
}

footer .footer__col-2 p {
  line-height: 0.4rem;
}

footer .footer__row-1 {
  text-align: center;
}

footer .footer__social i {
  font-size: 25px;
  padding: 5px;
}

footer .footer__social i:hover {
  color: rgba(47, 167, 0, 0.808);
}

footer .line {
  height: 1px;
  margin-top: 30px;
  background-color: lightgrey;
  border: none;
}

footer .footer__row-3 span a {
  color: white;
  font-size: 12px;
}

footer .footer__row-3 span a:hover {
  color: rgba(47, 167, 0, 0.808);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    width: 100%;
    height: calc(var(--header-height) + 1rem);
    padding: 0;
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__menu {
    background-color: var(--first-color);
    width: 100%;
    padding: 10px;
  }
  .nav__list, .nav__profile {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__close {
    display: none;
  }
  .nav__img {
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__img img {
    width: 100px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--dark-color);
  }
  .active {
    background-color: var(--dark-color);
    color: var(--white-color);
  }
  .main__container {
    max-width: 700px;
  }
  .cards__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
  }
  .middle__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__form .contact__col-1 {
    margin-right: 4%;
  }
  .footer .footer__row-1 {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 220px 250px auto;
        grid-template-columns: 220px 250px auto;
    text-align: left;
  }
  .footer .footer__col-3 {
    text-align: right;
  }
  .footer .footer__row-2,
  .footer .footer__row-3 {
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */